*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(120deg, rgb(79, 79, 141), rgb(54, 50, 95), rgb(106, 82, 138));
}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
}
